$p: 12px;
$lh: 24px;
$font-size: 16px;

$radius: 2px;

$color-primary: #eb8000;
$color-alt: #9ccc65;

$color-white: rgba(#fff, 1);
$color-text-regular: rgba(#000, 0.86);
$color-text-alt: rgba(#fff, 0.86);
$color-header-background: #000;
$color-content-background: #eee;

$shadow-card: 0 0.5em 1em -0.125em rgba(#000, 0.1), 0 0px 0 1px rgba(#000, 0.02);
